body::-webkit-scrollbar-thumb {
  background-color: rgb(206, 205, 205);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(188, 187, 187);
}

body::-webkit-scrollbar-thumb:active {
  background-color: rgb(1, 1, 1);
}

body::-webkit-scrollbar {
  width: 5px;
}

a {
  text-decoration: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


.circular-btn {
  border-radius: 30px;
}

.circular-btn:hover {
  background-color: #274494;
}


.summary-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.home-background {
  background-image: url(assets/images/home-mobile.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  filter: blur(5px);
}

.stars-background {
  background-image: url(assets/images/stars.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
  width: 100%;
}

@media (min-width: 450px) {
  .home-background {
    background-image: url(assets/images/home.png);
  }

}

.css-wjh20t-MuiPagination-ul {
  justify-content: center;
}